details summary {
  cursor: pointer;
  list-style: none; /* remove default triangle in some browsers */
}

/* Base style for the toggle */
details summary::after {
  content: "ï¼‹";
  margin-right: 0.5em;
  float: right;
  transition: transform 0.3s ease; /* smooth rotation */
  display: inline-block;  /* needed for transform */
}

/* Rotate the + when the details is open */
details[open] summary::after {
  transform: rotate(45deg); /* rotates the + */
}


/*************************************
For Directory Pages
*************************************/

.directory-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;  // space between boxes
  justify-content: center;
}

.directory-box {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: inherit !important;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: #ffb563;
  }
}


.directory-box h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.directory-box p {
  font-size: 0.9rem;
}


/**************************

*************************/
.page-no-right {
  @include breakpoint($large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
  }

  .page__inner-wrap {
    float: inline-start;
    margin-top: 1em;
    margin-inline: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: inline-start;
      margin-inline: 0;
      width: 100%;
      clear: both;
    }
  }
}
